<div>
  <ul class="breadcrumb bg-white b-a">
    <li><a ui-sref="index.portal"><i class="fa fa-home"></i> 首页</a></li>
    <li><a ui-sref="index.xajx({pageId:1})">西安驾校</a></li>
    <li class="active">{{jx.name}}</li>
  </ul>
</div>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">{{jx.name}}<span class="badge bg-success">{{jx.orders}}人已预约</span></h1>

  <small class="text-muted">{{jx.intro}}</small>
</div>
<div class="wrapper-md">
  
  <div class="row">
    <div class="col-lg-7">
     
      <!-- carousel -->
      <div class="panel b-a" set-ng-animate="false">
        
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" class="img-full">
            <div class="carousel-caption">
              <!-- <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p> -->
            </div>
          </slide>
        </carousel>
        
      </div>
      <!-- / carousel -->      
      
    </div>

    <div class="col-lg-5">
      
      <div class="panel b-a panel-info">
        <div class="panel-heading">
          <div class="clearfix">
            
            <div class="clear">
              <div class="h3 m-t-xs m-b-xs">
                {{jx.name}}
                <div class="pull-right"> 返现<span class="text-danger">{{jx.discount}}</span></div>
                <!-- <div class="dropdown pull-right" dropdown>
                  <a href class="dropdown-toggle clear" dropdown-toggle>
                    <i class="fa fa-wechat text-success pull-right  m-t-sm"></i>
                  </a>
                  dropdown
                  <div class="dropdown-menu animated fadeInRight w" >
                    <div class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                      
                        <img src="img/c2.jpg">
                      
                    </div>
                    
                  </div>
                  / dropdown
                </div> -->
                
              </div>
              <small class="text-muted">{{jx.intro}}</small>
            </div>
          </div>
        </div>
        <div class="list-group no-radius alt">
          
          <a class="list-group-item " href>
            <i class="fa fa-money fa-fw text-muted"></i> 
            本地价格 <span class="pull-right">{{jx.localPrice}}</span>
          </a>
          <a class="list-group-item" href>
            <i class="fa fa-money fa-fw text-muted"></i> 
            外地价格 <span class="pull-right">{{jx.foreignPrice}}</span>
          </a>
          <!-- <a class="list-group-item" href>
            <i class="fa fa-money fa-fw text-muted"></i> 
            其他价格(体检费) <span class="pull-right">{{jx.otherPrice}}</span>
          </a> -->
          <a class="list-group-item" href>
             
            <i class="fa fa-location-arrow fa-fw text-muted"></i> 
            地址  <span class="pull-right">{{jx.locate}}</span>
          </a>
          <a class="list-group-item" href>
            
            <i class="fa fa-institution fa-fw text-muted"></i> 
            服务学校  <span class="pull-right">{{jx.serviceSchool}}</span>
          </a>
          <a class="list-group-item" href>
            
            <i class="fa fa-phone fa-fw text-muted"></i> 
            联系电话  <span class="pull-right">{{jx.phone}}</span>
          </a>
          <a ui-sref="index.order({jxId:jx.id,jxname:jx.name})">
          <button class="btn btn-info btn-block btn-lg"><i class="fa fa-shopping-cart"></i> 立即预约</button>
          </a>
        </div>
      </div>
       
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel b-a panel-default">
       
        <div class="panel-body" >
          <tabset class="tab-container">
          <!-- <tab heading="Static title">Static content</tab> -->
          <!-- <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
          </tab> -->
          <tab heading="驾校简介" class="tab-fixheight">
              <!-- .col -->
  <div class="col">
    <div class="wrapper">
      <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
      <ul class="timeline">
        <li class="tl-header">
          <div class="btn btn-info">Start</div>
        </li>
        <li class="tl-item">
          <div class="tl-wrap b-info">
            <span class="tl-date">科目一平均<span class="text-info">{{jx.durationOne}}</span>天</span>
            <div class="tl-content panel padder b-a w-md w-auto-xs">
              <span class="arrow left pull-up"></span>
              <div class="text-lt m-b-sm">科目一通过率</div>
              <div class="panel-body pull-in b-t b-light">
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: '{{jx.passRateOne}}',
                      lineWidth: 3,
                      trackColor: '{{app.color.light}}',
                      barColor: '{{app.color.info}}',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }">
                    <div>
                      <span class="step">{{jx.passRateOne}}</span>%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- <li class="tl-item">
          <div class="tl-wrap b-info">
            <span class="tl-date">{{durationOne}}</span>
            <div class="tl-content panel padder b-a">
              <span class="arrow left pull-up"></span>
              <div>科目一</div>
            </div>
          </div>
        </li> -->
        <li class="tl-item">
          <div class="tl-wrap b-light">
            <span class="tl-date">科目二平均<span class="text-black">{{jx.durationTwo}}</span>天</span>
            <div class="tl-content panel padder b-a w-md w-auto-xs">
              <span class="arrow left pull-up"></span>
              <div class="text-lt m-b-sm">科目二通过率</div>
              <div class="panel-body pull-in b-t b-light">
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: '{{jx.passRateTwo}}',
                      lineWidth: 3,
                      trackColor: '{{app.color.light}}',
                      barColor: '{{app.color.black}}',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }">
                    <div>
                      <span class="step">{{jx.passRateTwo}}</span>%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </li>
        <li class="tl-item tl-left">
          <div class="tl-wrap b-primary">
            <span class="tl-date">科目三平均<span class="text-primary">{{jx.durationThree}}</span>天</span>
            <div class="tl-content panel padder b-a w-md w-auto-xs">
              <span class="arrow left pull-up"></span>
              <div class="text-lt m-b-sm">科目三通过率</div>
              <div class="panel-body pull-in b-t b-light">
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: '{{jx.passRateThree}}',
                      lineWidth: 3,
                      trackColor: '{{app.color.light}}',
                      barColor: '{{app.color.primary}}',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }">
                    <div>
                      <span class="step">{{jx.passRateThree}}</span>%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="tl-item">
          <div class="tl-wrap b-success">
            <span class="tl-date">科目四平均<span class="text-success">{{jx.durationFour}}</span>天</span>
            <div class="tl-content panel padder b-a w-md w-auto-xs">
              <span class="arrow left pull-up"></span>
              <div class="text-lt m-b-sm">科目四通过率</div>
              <div class="panel-body pull-in b-t b-light">
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: '{{jx.durationFour}}',
                      lineWidth: 3,
                      trackColor: '{{app.color.light}}',
                      barColor: '{{app.color.success}}',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }">
                    <div>
                      <span class="step">{{jx.passRateFour}}</span>%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="tl-header">
          <div class="btn btn-sm btn-default btn-rounded b-success">End</div>
        </li>
        <!-- <li class="tl-item tl-left">
          <div class="tl-wrap b-primary">
            <span class="tl-date">04.2014</span>
            <div class="tl-content panel padder b-a block">
              <span class="arrow left pull-up hidden-left"></span>
              <span class="arrow right pull-up visible-left"></span>
              <div class="text-lt m-b-sm">Block</div>
              <div class="panel-body pull-in b-t b-light">
                <p>I'm working on a realy amazing application, It will be available soon. here is a little tease. </p>
                <div class="m-b m-t">                  
                  <a href class="avatar thumb-xs m-r-xs">
                    <img src="img/a7.jpg" alt="...">
                    <i class="on b-white left"></i>
                  </a>
                  <a href class="avatar thumb-xs m-r-xs">
                    <img src="img/a8.jpg" alt="...">
                    <i class="busy b-white left"></i>
                  </a>
                  <a href class="avatar thumb-xs m-r-xs">
                    <img src="img/a9.jpg" alt="...">
                    <i class="away b-white left"></i>
                  </a>
                  <a href class="avatar thumb-xs m-r-xs">
                    <img src="img/a10.jpg" alt="...">
                    <i class="on b-white left"></i>
                  </a>
                  <a href class="btn btn-success btn-rounded font-bold"> +152 </a>
                  <span class="h5 m-l-sm">Liked</span>              
                </div>
                <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                  <span class="arrow top pull-left"></span>
                  <form>
                    <textarea class="form-control no-border" rows="3" placeholder="Your comment..."></textarea>
                  </form>
                  <div class="panel-footer bg-light lter">
                    <button class="btn btn-info pull-right btn-sm">Comment</button>
                    <ul class="nav nav-pills nav-sm">
                      <li><a href><i class="fa fa-camera text-muted"></i></a></li>
                      <li><a href><i class="fa fa-video-camera text-muted"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>             
            </div>
          </div>
        </li>
        <li class="tl-header">
          <div class="btn btn-sm btn-default btn-rounded">2014</div>
        </li>
        <li class="tl-item">
          <div class="tl-wrap">
            <span class="tl-date">10.08.2013</span>
            <div class="tl-content panel padder b-a">
              <span class="arrow left pull-up hidden-left"></span>
              <span class="arrow right pull-up visible-left"></span>
              <div class="text-lt">A good story to hear.</div>
            </div>
          </div>
        </li>
        <li class="tl-header">
          <div class="btn btn-icon btn-rounded btn-default"><i class="fa fa-twitter"></i></div>
        </li>
        <li class="tl-item tl-left">
          <div class="tl-wrap b-white">
            <span class="tl-date">5.07.2013</span>
            <div class="tl-content panel padder b-a">
              <span class="arrow left pull-up hidden-left"></span>
              <span class="arrow right pull-up visible-left"></span>
              <div class="text-lt">Yesterday is History</div>
            </div>
          </div>
        </li>
        <li class="tl-header">
          <div class="btn btn-sm btn-default btn-rounded">more</div>
        </li> -->
      </ul>
      </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h3>师资力量</h3>
          {{jx.teacherResource}}
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h3>硬件资源</h3>
          {{jx.hardwareResource}}
        </div>
      </div>
    </div>
  </div>

  <!-- /.col -->  
          </tab>
          <tab heading="驾校风采" class="tab-fixheight">
            <div class="wrapper-md" ng-repeat="slide in slides">
              <img ng-src="{{slide.image}}">
             <!--  <img src="img/c2.jpg">
              <img src="img/c1.jpg">
              <img src="img/c3.jpg"> -->
            </div>
          </tab>
          <tab heading="驾校位置" class="tab-fixheight">
            <iframe width="604" height="525" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{jx.mapUrl | trustAsResourceUrl}}"></iframe>
          </tab>
          <!-- <tab>
            <tab-heading>
              <i class="glyphicon glyphicon-bell"></i> Alert!
            </tab-heading>
            I've got an HTML heading, and a select callback. Pretty cool!
          </tab> -->
        </tabset>
        </div>
      </div>
    </div>
  </div>

  
      <!-- / tab -->
      <!-- <div class="panel b-a panel-default">
        <div class="panel-heading">
          
          <div class="clearfix">
            
            <div class="clear">
              <div class="h3 m-t-xs m-b-xs">
                驾校风采
                <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
              </div>
              <small class="text-muted">{{jx.intro}}</small>
            </div>
          </div>
        </div>
        
      </div> -->
    </div>
  </div>

</div>